/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }

@keyframes vague {
  0%, 40% {
    transform: translate(0, 0);
    background-color: #FF79DA;
    opacity: 1; }
  10% {
    transform: translate(0, -15px);
    background-color: #99E2D0;
    opacity: 1; }
  100% {
    transform: translate(0, 0);
    background-color: #FF79DA;
    opacity: 0; } }
@keyframes background-vague {
  0%, 90% {
    transform: translateY(0%);
    z-index: 99;
    display: flex;
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    z-index: 1;
    display: none;
    opacity: 0; } }
@keyframes coeur-remplissage {
  0% {
    background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 40%);
    -webkit-background-clip: text; }
  25% {
    background: linear-gradient(0deg, #FF79DA 20%, #9356DC 40%, white 30%);
    -webkit-background-clip: text; }
  50% {
    background: linear-gradient(0deg, #FF79DA 30%, #9356DC 60%, white 20%);
    -webkit-background-clip: text; }
  75% {
    background: linear-gradient(0deg, #FF79DA 40%, #9356DC 80%, white 10%);
    -webkit-background-clip: text; }
  100% {
    background: linear-gradient(0deg, #FF79DA 60%, #9356DC 100%, white 0%);
    -webkit-background-clip: text; } }
@keyframes fade-menu {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes fade-div {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  60% {
    opacity: 0.5;
    transform: translateY(0%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes prix-effect {
  0% {
    margin-right: 0%; }
  100% {
    margin-right: 15%; } }
@keyframes check-effect {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes background-effect {
  0% {
    transform: translate(50%); }
  100% {
    transform: translate(0%); } }
@font-face {
  font-family: 'Shrikhand-Regular';
  src: url(Shrikhand/Shrikhand-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Italic.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-BoldItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Thin.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-ThinItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-LightItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Medium.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-MediumItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto/Roboto-BlackItalic.ttf) format("truetype"); }
.btn-explorer {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 3rem 0rem; }
  .btn-explorer p {
    background-image: linear-gradient(#FF79DA, #9356DC);
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    box-shadow: 0px 5px 10px 0px #b2b2b2; }
    .btn-explorer p:hover {
      background-image: linear-gradient(#ff9de4, #a674e2);
      box-shadow: 0px 5px 10px 0px #8c8c8c; }

.btn-commander {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 1rem 0rem; }
  .btn-commander p {
    background-image: linear-gradient(#FF79DA, #9356DC);
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    color: white;
    box-shadow: 0px 5px 10px 0px #b2b2b2; }
    .btn-commander p:hover {
      background-image: linear-gradient(#ff9de4, #a674e2);
      box-shadow: 0px 5px 10px 0px #8c8c8c; }

header {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px -3px 6px 3px #7b7777;
  position: relative;
  z-index: 3; }
  header nav {
    display: flex; }
  header .link-arrow {
    display: flex;
    margin: 4% 0% 0 0%; }
  header .fa-arrow-left {
    display: flex;
    margin-left: -5rem; }

@media only screen and (max-width: 353px) {
  header .fa-arrow-left {
    display: flex;
    margin-left: -3rem; } }
footer {
  background-color: #424141; }
  footer a {
    color: white; }
  footer nav {
    padding: 1rem 0rem 1rem 1rem;
    font-family: "Roboto Regular", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS"; }
  footer li {
    padding: 0.2rem; }

.titre-footer {
  font-family: "Shrikhand-Regular", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS";
  color: white;
  font-size: 1.3rem;
  padding-bottom: 1rem; }

.fa-utensils {
  padding-right: 1.2rem; }

.fa-hands-helping {
  padding-right: 1rem;
  font-size: 0.8rem; }

main img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: 0% 63%; }
main .img-enchante-menu img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: 0% 63%; }

.menu {
  background-color: #F2F2F2;
  padding: 1.5rem 1rem 2rem 1rem;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  display: grid;
  justify-content: center; }
  .menu h1 {
    font-family: "Shrikhand-Regular", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS";
    font-size: 1.5rem;
    margin: 0rem 1rem 2rem 0rem; }
  .menu h2 {
    border-bottom: 0.2rem solid #99E2D0;
    width: 2.5rem;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem 0; }
  .menu article {
    margin-top: 2rem;
    animation: fade-menu 1s;
    width: 21.3rem; }

.div-background {
  display: flex;
  padding: 0.8rem 0.5rem 0.5rem 0.7rem;
  margin: 1rem 0rem;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.4rem 0.8rem -0.5rem #8c8c8c;
  animation: fade-div 2s; }
  .div-background h3 {
    padding-bottom: 0.3rem; }
  .div-background:active .div-accompagnement {
    animation: prix-effect 1s;
    margin-right: 15%; }
  .div-background:active .check-background {
    animation: background-effect 1s;
    display: flex; }
  .div-background:active .fa-check-circle {
    animation: check-effect 1s 0.1s; }
  .div-background:active p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.div-accompagnement {
  display: flex;
  justify-content: space-between; }
  .div-accompagnement p {
    max-width: 85%; }
  .div-accompagnement span {
    font-family: "Roboto Bold", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS"; }

.check-background {
  background-color: #99E2D0;
  display: none;
  justify-content: flex-end;
  margin: -0.8rem 0rem -0.5rem 17.65rem;
  border-radius: 0 0.8rem 0.8rem 0;
  padding: 1.5rem 1rem 1.48rem 1rem;
  position: absolute; }
  .check-background .fa-check-circle {
    position: relative;
    color: white; }

@media only screen and (min-width: 2001px) {
  .menu {
    display: block;
    text-align: center;
    height: 47rem; }
    .menu article {
      display: inline-grid;
      width: 31rem; }

  .div-background {
    text-align: left; }
    .div-background span {
      padding-left: 1rem; }
    .div-background .prix {
      margin-top: 0rem; }

  .check-background {
    margin: -0.8rem 0rem -0.5rem 27.4rem; } }
@media only screen and (min-width: 1501px) and (max-width: 2000px) {
  .menu {
    display: block;
    text-align: center; }
    .menu article {
      display: inline-grid;
      width: 21rem; }

  .div-background {
    text-align: left; }
    .div-background .prix {
      margin-top: 0rem; }

  .check-background {
    margin: -0.8rem 0rem -0.5rem 17.4rem; }

  .check-background-deux {
    margin-left: 18.7rem; } }
@media only screen and (min-width: 1062px) and (max-width: 1500px) {
  .menu {
    display: block;
    text-align: center; }
    .menu article {
      display: inline-grid;
      width: 21rem; }

  .div-background {
    text-align: left; }
    .div-background span {
      padding-left: 1rem; }
    .div-background .prix {
      margin-top: 0rem; }

  .check-background {
    margin: -0.8rem 0rem -0.5rem 17.4rem; }

  .check-background-deux {
    margin-left: 18.7rem; } }
@media only screen and (min-width: 769px) and (max-width: 1061px) {
  .div-background span {
    padding: 0 0.5rem; }
  .div-background .prix {
    margin-top: 0rem; }

  .menu article {
    width: 22.3rem; }

  .check-background {
    margin: -0.8rem 0rem -0.5rem 18.65rem; } }
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .div-background span {
    padding: 0 0.5rem; }
  .div-background .prix {
    margin-top: 0rem; }

  .menu article {
    width: 22.3rem; }

  .check-background {
    margin: -0.8rem 0rem -0.5rem 18.65rem; } }
@media only screen and (min-width: 425px) and (max-width: 599px) {
  .menu article {
    width: 21.3rem; } }
@media only screen and (max-width: 353px) {
  .menu {
    display: block; }
    .menu article {
      width: auto; }

  .check-background {
    margin: -4% 0 0 74%; } }
p {
  font-family: "Roboto Regular", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS"; }

h2, h3, .etiquette-nouveau {
  font-family: "Roboto Bold", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS"; }

section, main, footer {
  z-index: 2;
  position: relative; }

.loader {
  animation: background-vague 3.5s ease-in-out;
  height: 100%;
  width: 100%;
  background: white;
  justify-content: center;
  position: fixed;
  padding-top: 113%;
  display: flex; }
  .loader span {
    transition: all 500ms ease;
    background: #9356DC;
    box-shadow: 0.1rem 0.2rem 0.3rem #999;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 1rem;
    animation: vague 1.5s ease 2;
    opacity: 0;
    padding-left: 2rem;
    margin: 0 0.2rem; }
    .loader span:nth-child(1) {
      animation-delay: 0ms; }
    .loader span:nth-child(2) {
      animation-delay: 100ms; }
    .loader span:nth-child(3) {
      animation-delay: 200ms; }
    .loader span:nth-child(4) {
      animation-delay: 300ms; }
    .loader span:nth-child(5) {
      animation-delay: 400ms; }
    .loader span:nth-child(6) {
      animation-delay: 500ms; }
    .loader span:nth-child(7) {
      animation-delay: 600ms; }
    .loader span:nth-child(8) {
      animation-delay: 700ms; }

.localisation {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e5e5e5; }

.fa-map-marker-alt {
  padding-right: 2rem;
  margin-left: -2rem; }

.accroche {
  background-color: #F2F2F2; }

.texte-accroche {
  text-align: center;
  padding-top: 2rem; }
  .texte-accroche h1 {
    font-family: "Roboto Bold", Arial, "Arial Black", "Comic Sans MS", "Times New Roman", "Trebuchet MS";
    font-size: 1.5rem;
    padding: 0rem 4rem 1rem 4rem; }
  .texte-accroche p {
    padding: 0rem 3rem 1rem 3rem; }

.fonctionnement {
  text-align: center;
  padding-bottom: 3rem; }
  .fonctionnement h2 {
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 0rem 1rem 1rem; }

.element-fonctionnement {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin: 0rem 1rem; }
  .element-fonctionnement p {
    font-size: 1.2rem;
    background-color: #F2F2F2;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px -5px #8c8c8c; }
  .element-fonctionnement .element-chiffre {
    margin-left: -2.8rem;
    background-color: #9356DC;
    border-radius: 2rem;
    padding: 0.3rem 0.6rem 0.2rem 0.55rem;
    color: white;
    font-size: 1rem; }

.element-composer {
  padding: 0rem 0.8rem 0rem 0rem; }

.element-deguster {
  padding-right: 0.5rem; }

.background-deguster p {
  background-color: #f4eefc; }

.fa-mobile-alt, .fa-list-ul {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: grey; }

.fa-store {
  margin-left: 1.4rem;
  margin-right: 1.5rem;
  color: #9356DC; }

#restaurants {
  background-color: #F2F2F2;
  padding-bottom: 2rem; }
  #restaurants h2 {
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 0rem 1rem 1rem; }
  #restaurants a {
    display: block;
    width: 90%;
    margin-left: 5%;
    position: relative;
    z-index: 3; }
  #restaurants img {
    border-radius: 0.8rem;
    width: 100%;
    height: 14rem;
    object-fit: cover;
    object-position: 0% 79%; }
  #restaurants figure {
    border-radius: 0.8rem;
    box-shadow: 0px 6px 20px -5px #b2b2b2; }
  #restaurants figcaption {
    position: relative;
    margin: -3rem 0rem 1rem 0rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
    background-color: white;
    border-radius: 0rem 0rem 0.8rem 0.8rem; }

.etiquette-nouveau {
  margin: 4% 0% 0% 74%;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  padding: 0.4rem;
  font-size: 0.8rem;
  border-radius: 0.2rem; }

.fa-heart {
  position: relative;
  z-index: 3;
  display: flex !important;
  justify-content: flex-end;
  margin-top: -2rem;
  margin-right: 0.1rem;
  font-size: 1.5rem; }

.fas-coeur {
  color: transparent;
  margin-left: -1.5rem;
  margin: 0rem 0rem 0rem -1.5rem !important; }
  .fas-coeur:active {
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    animation: coeur-remplissage 0.25s; }

.far-coeur:active {
  color: transparent; }

@media only screen and (min-width: 2001px) {
  .loader {
    padding-top: 20%; }
    .loader span {
      margin: 0 2rem; }

  .fonctionnement h2 {
    text-align: center; }

  .element-fonctionnement {
    display: inline-block; }

  #restaurants h2 {
    text-align: center; }
  #restaurants a {
    width: 40%;
    margin-left: 9%; }
  #restaurants img {
    object-position: 0% 70%;
    height: 25rem; }
  #restaurants .img-enchante {
    object-position: 0% 61%; }

  .colonne-restaurant {
    margin-left: 47%;
    margin-top: -54.25rem; }
    .colonne-restaurant a {
      width: 75% !important; }

  .etiquette-nouveau {
    margin: 4% 0% 0% 85%; }

  footer {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 1501px) and (max-width: 2000px) {
  .loader {
    padding-top: 20%; }
    .loader span {
      margin: 0 1.5rem; }

  .fonctionnement h2 {
    text-align: center; }

  .element-fonctionnement {
    display: inline-block; }

  #restaurants h2 {
    text-align: center; }
  #restaurants a {
    width: 40%;
    margin-left: 9%; }
  #restaurants img {
    object-position: 0% 70%;
    height: 25rem; }
  #restaurants .img-enchante {
    object-position: 0% 61%; }

  .colonne-restaurant {
    margin-left: 47%;
    margin-top: -54.25rem; }
    .colonne-restaurant a {
      width: 75% !important; }

  .etiquette-nouveau {
    margin: 4% 0% 0% 85%; }

  footer {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 1062px) and (max-width: 1500px) {
  .loader {
    padding-top: 25%; }
    .loader span {
      margin: 0 1rem; }

  .fonctionnement h2 {
    text-align: center; }

  .element-fonctionnement {
    display: inline-block; }

  #restaurants h2 {
    text-align: center; }
  #restaurants a {
    width: 40%;
    margin-left: 9%; }
  #restaurants img {
    object-position: 0% 100%; }
  #restaurants .img-enchante {
    object-position: 0% 63%; }

  .colonne-restaurant {
    margin-left: 47%;
    margin-top: -32.25rem; }
    .colonne-restaurant a {
      width: 75% !important; }

  .etiquette-nouveau {
    margin: 4% 0% 0% 85%; }

  footer {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 769px) and (max-width: 1061px) {
  .loader {
    padding-top: 41%; }
    .loader span {
      margin: 0 1rem; }

  .fonctionnement h2 {
    text-align: center; }

  .element-fonctionnement {
    display: inline-block; }

  #restaurants h2 {
    text-align: center; }
  #restaurants img {
    height: 20rem; }
  #restaurants .img-enchante {
    object-position: 0% 60%; }

  .etiquette-nouveau {
    margin: 4% 0% 0% 88%; }

  footer {
    display: flex;
    justify-content: center; } }
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .loader {
    padding-top: 55%; }
    .loader span {
      margin: 0 0.5rem; }

  #restaurants img {
    height: 22rem;
    object-position: 0% 69%; }
  #restaurants .img-enchante {
    object-position: 0% 60%; }

  .etiquette-nouveau {
    margin: 4% 0% 0% 85%; } }
@media only screen and (min-width: 425px) and (max-width: 599px) {
  .loader {
    padding-top: 100%; }

  #restaurants img {
    height: 16rem;
    object-position: 0% 69%; } }
@media only screen and (max-width: 353px) {
  .loader {
    padding-top: 130%; }

  .element-fonctionnement p {
    font-size: 1rem;
    padding: 1.5rem 1rem; }
  .element-fonctionnement .element-chiffre {
    margin-left: -1.8rem; } }
