
/* Pour les petites ronds des chiffres 
A modifier pour < 350px*/
.element-fonctionnement span {
    margin-left: -2.8rem;
    background-color: #9356DC;
    border-radius: 2rem;
    padding: 0.3rem 0.7rem 0.2rem 0.65rem;
    color: white;
}

/* Ajout marge entre les element
a modififer pour < 356px
Ajout box-shadow
a modifier couleur */
.element-fonctionnement{
	margin: 0rem 1rem;
	box-shadow: 0px 4px 8px -5px #00000059;
}

/* Modif couleur des fontawesome */
.fa-list-ul, .fa-mobile-alt{
	color: grey;
}

.fa-store{
	color: #9356DC;
}

/* Rajout d'une class "background-deguster" à element-deguster
Modif couleur background element-deguster*/
.background-deguster p {
    background-color: #a674e245;
}


/* Ajout d'une class restaurants sur la section des resto */
.restaurants h2 {
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 0rem 1rem 1rem;
}



/* Footer 
Le logo n'est pas le logo mais du texte A CHANGER*/
footer{
	background-color: #424141;
}

footer a{
	color: white;
}

footer nav{
	padding: 1rem 0rem 1rem 1rem;
	font-family: 'Roboto-Regular';
}

footer li{
	padding: 0.2rem
}

.fa-utensils{
	padding-right: 1.2rem;
}

.fa-hand-helping{
	padding-right: 1rem;
	font-size: 0.8rem;
}



10% {
          background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 10%);
          -webkit-background-clip: text;
        }        
        15% {
          background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 10%);
          -webkit-background-clip: text;
        }
        20% {
          background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 10%);
          -webkit-background-clip: text;
        }
        25% {
          background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 10%);
          -webkit-background-clip: text;
        }                
        30% {
          background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 10%);
          -webkit-background-clip: text;
        }
        35% {
          background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 10%);
          -webkit-background-clip: text;
        }
        40% {
          background: linear-gradient(0deg, #FF79DA 10%, #9356DC 20%, white 10%);
          -webkit-background-clip: text;
        }                
        45% {
          background: linear-gradient(0deg, #FF79DA 20%, #9356DC 30%, white 10%);
          -webkit-background-clip: text;
        }
        50% {
          background: linear-gradient(0deg, #FF79DA 20%, #9356DC 30%, white 10%);
          -webkit-background-clip: text;
        } 
        55% {
          background: linear-gradient(0deg, #FF79DA 20%, #9356DC 30%, white 10%);
          -webkit-background-clip: text;
        }               
        60% {
          background: linear-gradient(0deg, #FF79DA 20%, #9356DC 30%, white 10%);
          -webkit-background-clip: text;
        }
        65% {
          background: linear-gradient(0deg, #FF79DA 30%, #9356DC 40%, white 10%);
          -webkit-background-clip: text;
        }
        70% {
          background: linear-gradient(0deg, #FF79DA 30%, #9356DC 40%, white 10%);
          -webkit-background-clip: text;
        }                
        75% {
          background: linear-gradient(0deg, #FF79DA 30%, #9356DC 40%, white 10%);
          -webkit-background-clip: text;
      	}
      	80% {
          background: linear-gradient(0deg, #FF79DA 30%, #9356DC 40%, white 10%);
          -webkit-background-clip: text;
      	}
        85% {
          background: linear-gradient(0deg, #FF79DA 40%, #9356DC 50%, white 10%);
          -webkit-background-clip: text;
        }
        90% {
          background: linear-gradient(0deg, #FF79DA 40%, #9356DC 50%, white 10%);
          -webkit-background-clip: text;
        } 
        95% {
          background: linear-gradient(0deg, #FF79DA 40%, #9356DC 50%, white 10%);
          -webkit-background-clip: text;
        }                     	
        100% {
          background: linear-gradient(0deg, #FF79DA 50%, #9356DC 100%, white 10);
          -webkit-background-clip: text;
        }












        .spinner{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 99;

    div{
      position: absolute;
      border: 4px solid black;
      opacity: 1;
      border-radius: 50%;
      animation: spinner-anim 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2){
      animation-delay: 0.5s;
    }
}

@keyframes spinner-anim{
  0%{
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100%{
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
