p {
	font-family: $font-texte;
}

h2, h3, .etiquette-nouveau{
	font-family: $font-sous-titre;
}

section, main, footer{
	z-index: 2;
	position: relative;
}

// Spinner loader
.loader{
	animation: background-vague 3.5s ease-in-out;
    height: 100%;
    width: 100%;
    background: white;
    justify-content: center;
    position: fixed;
    padding-top: 113%;;
    display: flex;

    span{
		transition: all 500ms ease;
		background: $colour-primary;
		box-shadow: 0.1rem 0.2rem 0.3rem #999;
		height: 1rem;
		width: 1rem;  
		display: inline-block;
		border-radius: 1rem;
		animation: vague 1.5s ease 2;
		opacity: 0;
		padding-left: 2rem;
		margin: 0 0.2rem;

			&:nth-child(1){
				animation-delay: 0ms;
			}
			&:nth-child(2){
				animation-delay: 100ms;
			}
			&:nth-child(3){
				animation-delay: 200ms;
			}
			&:nth-child(4){
				animation-delay: 300ms;
			}
			&:nth-child(5){
				animation-delay: 400ms;
			}
			&:nth-child(6){
				animation-delay: 500ms;
			}
			&:nth-child(7){
				animation-delay: 600ms;
			}
			&:nth-child(8){
				animation-delay: 700ms;
			}
	} 

}


// Partie localisation
.localisation{
	display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: darken($colour-background, 5%);
}

.fa-map-marker-alt{
	padding-right: 2rem;
    margin-left: -2rem;
}

// Partie accroche
.accroche{
	background-color: $colour-background;
}

.texte-accroche{
	text-align: center;
    padding-top: 2rem;

		h1{
			font-family: $font-sous-titre;
			font-size: 1.5rem;
			padding: 0rem 4rem 1rem 4rem;
		}

		p{
			padding: 0rem 3rem 1rem 3rem;
		}
}

.btn-explorer{
	text-align: center;
	display: flex;
    justify-content: center;
    padding: 1rem 0rem 3rem 0rem;

	p{
		background-image: linear-gradient($colour-secondary,$colour-primary);
	    padding: 1rem;
	    border-radius: 2rem;
	    color: white;
	    box-shadow: 0px 5px 10px 0px darken($colour-background, 25%);

	    &:hover{
			background-image: linear-gradient(lighten($colour-secondary, 7%),lighten($colour-primary, 7%));
			box-shadow: 0px 5px 10px 0px darken($colour-background, 40%)
		}
	}
}

// Partie fonctionnement
.fonctionnement{
	text-align: center;
	padding-bottom: 3rem;

	h2{
		font-size: 1.5rem;
		text-align: left;
		padding: 2rem 0rem 1rem 1rem;
	}
}

.element-fonctionnement{
	text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
	margin: 0rem 1rem;

    p{
	    font-size: 1.2rem;
	    background-color: $colour-background;
	    padding: 1.5rem 2rem;
	    border-radius: 1rem; 
	    box-shadow: 0px 4px 8px -5px darken($colour-background, 40%);
    }

    .element-chiffre{
    	margin-left: -2.8rem;
	    background-color: $colour-primary;
	    border-radius: 2rem;
	    padding: 0.3rem 0.6rem 0.2rem 0.55rem;
    	color: white;
    	font-size: 1rem;
    }
}

.element-composer{
	padding: 0rem 0.8rem 0rem 0rem;
}

.element-deguster {
    padding-right: 0.5rem;
}

.background-deguster p{
	background-color: lighten($colour-primary, 36%);
}

.fa-mobile-alt, .fa-list-ul{
	margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: grey;
}

.fa-store{
	margin-left: 1.4rem;
    margin-right: 1.5rem;
    color: #9356DC;
}

// Partie restaurants
#restaurants{
	background-color: $colour-background;
	padding-bottom: 2rem;

	h2{
	    font-size: 1.5rem;
	    text-align: left;
	    padding: 2rem 0rem 1rem 1rem;		
	}
	
	a{
		display: block;
		width: 90%; 
		margin-left: 5%;
		position: relative;
    	z-index: 3;
	}

	img{
		border-radius: 0.8rem;
		width: 100%;
    	height: 14rem;
		object-fit: cover;
		object-position: 0% 79%;
	}

	figure{
		border-radius: 0.8rem;
		box-shadow: 0px 6px 20px -5px darken($colour-background, 25%);
	}

	figcaption{		
	    position: relative;
	    margin: -3rem 0rem 1rem 0rem;
	    padding: 0.5rem 1rem 1.5rem 1rem;
	    background-color: white;
	    border-radius: 0rem 0rem 0.8rem 0.8rem;	    
	}
}

.etiquette-nouveau{
	margin: 4% 0% 0% 74%;
	background-color: $colour-tertiary;
	color: darken($colour-tertiary, 40%);
	position: absolute;
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

.fa-heart {
    position: relative;
    z-index: 3;
    display: flex !important;
    justify-content: flex-end;
    margin-top: -2rem;
    margin-right: 0.1rem;
    font-size: 1.5rem;
}

.fas-coeur {
    color: transparent;
    margin-left: -1.5rem;
    margin: 0rem 0rem 0rem -1.5rem !important;
        &:active{
			background-image: linear-gradient($colour-primary,$colour-secondary);
			// background-clip: text; Non pris par W3C...
			-webkit-background-clip: text;
			animation: coeur-remplissage 0.25s;
    	}
}

.far-coeur{
	&:active{
		color: transparent;
	}
}

// Responsive (min-width: 2001px)
@media #{$xtra-large}{
	.loader{
		padding-top: 20%;

		span{
			margin: 0 2rem;
		}
	}

	.fonctionnement{
		h2{
			text-align: center;
		}
	}

	.element-fonctionnement{
		display: inline-block;
	}

	#restaurants{
		h2{
			text-align: center;
		}

		a{
			width: 40%;
			margin-left: 9%;
		}

		img{
			object-position: 0% 70%;
			height: 25rem;
		}

		.img-enchante{
			object-position: 0% 61%;
		}
	}

	.colonne-restaurant{
		margin-left: 47%;
	    margin-top: -54.25rem;

	    a{
	    	width: 75% !important;
	    }
	}

	.etiquette-nouveau{
		margin: 4% 0% 0% 85%;
	}

	footer{
		display:flex;
		justify-content: center;
	}
}

// Responsive (min-width: 1501px) and (max-width: 2000px)
@media #{$high-up}{
	.loader{
		padding-top: 20%;

		span{
			margin: 0 1.5rem;
		}		
	}

	.fonctionnement{
		h2{
			text-align: center;
		}
	}

	.element-fonctionnement{
		display: inline-block;
	}

	#restaurants{
		h2{
			text-align: center;
		}

		a{
			width: 40%;
			margin-left: 9%;
		}

		img{
			object-position: 0% 70%;
			height: 25rem;
		}

		.img-enchante{
			object-position: 0% 61%;
		}
	}

	.colonne-restaurant{
		margin-left: 47%;
	    margin-top: -54.25rem;

	    a{
	    	width: 75% !important;
	    }
	}

	.etiquette-nouveau{
		margin: 4% 0% 0% 85%;
	}

	footer{
		display:flex;
		justify-content: center;
	}
}

// Responsive (min-width: 1062px) and (max-width: 1500px)
@media #{$high-down}{
	.loader{
		padding-top: 25%;

		span{
			margin: 0 1rem;
		}
	}

	.fonctionnement{
		h2{
			text-align: center;
		}
	}

	.element-fonctionnement{
		display: inline-block;
	}

	#restaurants{
		h2{
			text-align: center;
		}

		a{
			width: 40%;
			margin-left: 9%;
		}

		img{
			object-position: 0% 100%;
		}

		.img-enchante{
			object-position: 0% 63%;
		}
	}

	.colonne-restaurant{
		margin-left: 47%;
	    margin-top: -32.25rem;

	    a{
	    	width: 75% !important;
	    }
	}

	.etiquette-nouveau{
		margin: 4% 0% 0% 85%;
	}

	footer{
		display:flex;
		justify-content: center;
	}
}

// Responsive (min-width: 769px) and (max-width: 1061px)
@media #{$medium-up}{
	.loader{
		padding-top: 41%;

		span{
			margin: 0 1rem;
		}
	}

	.fonctionnement{
		h2{
			text-align: center;
		}
	}

	.element-fonctionnement{
		display: inline-block;
	}

	#restaurants{
		h2{
			text-align: center;
		}

		img{
			height: 20rem;
		}

		.img-enchante{
			object-position: 0% 60%;
		}
	}

	.etiquette-nouveau{
		margin: 4% 0% 0% 88%;
	}

	footer{
		display:flex;
		justify-content: center;
	}
}


// Responsive (min-width: 600px) and (max-width: 768px)
@media #{$medium-medium}{
	.loader{
		padding-top: 55%;

		span{
			margin: 0 0.5rem;
		}
	}

	#restaurants{
		img{
			height: 22rem;
			object-position: 0% 69%;
		}

		.img-enchante{
			object-position: 0% 60%;
		}
	}

	.etiquette-nouveau{
		margin: 4% 0% 0% 85%;
	}
}

// Responsive (min-width: 425px) and (max-width: 599px)
@media #{$medium-down}{
	.loader{
		padding-top: 100%;
	}

	#restaurants{
		img{
			height: 16rem;
			object-position: 0% 69%;
		}
	}
}

// Responsive <353px
@media #{$small-down}{
	.loader{
		padding-top: 130%;
	}

	.element-fonctionnement{
		p{
			font-size: 1rem;
			padding: 1.5rem 1rem;
		}

		.element-chiffre{
			margin-left: -1.8rem;
		}
	}
}




