// Fichier des variables

// Couleurs 
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F2F2F2;

// Police
$font-titre: 'Shrikhand-Regular', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
$font-texte:'Roboto Regular', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
$font-sous-titre:'Roboto Bold', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";

// Responsive
$high-down: "only screen and (min-width: 1062px)";
$medium-extra-up: "only screen and (min-width: 826px)";
$medium-up: "only screen and (min-width: 769px)";
$medium-inter: "only screen and (min-width: 669px)";
$medium-medium: "only screen and (min-width: 600px)";
$medium-down: "only screen and (min-width: 425px) and (max-width: 599px)";
$small-up: "only screen and (min-width: 380px) and (max-width: 424px)";
$small-down: "only screen and (max-width: 353px)";








