// Partie image
main{
	img{
		width: 100%;
		height: 18rem;
		object-fit: cover;
		object-position: 0% 63%;		
	}

	.img-enchante-menu{
		img{
			width: 100%;
		    height: 18rem;
		    object-fit: cover;
		    object-position: 0% 63%;
		}
	}
}

// Partie menu
.menu{
	background-color: $colour-background;
	padding: 1.5rem 1rem 2rem 1rem;
	margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;

    	h1{
    		font-family: $font-titre;
    		font-size: 1.5rem;
    		margin: 0rem 1rem 2rem 0rem;
    	}

    	h2 {
		    border-bottom: 0.2rem solid $colour-tertiary;
		    width: 2.5rem;
		    text-transform: uppercase;
		    margin: 0.5rem 0 0.5rem 0;
		}

		article {
		    margin-top: 2rem;
		    animation: fade-menu 1s;
		}
}

.div-background{
	display: flex;
    padding: 0.8rem 0.5rem 0.5rem 0.7rem;
    margin: 1rem 0rem;
    flex-direction: column;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.4rem 0.8rem -0.5rem darken($colour-background, 40%);
    animation: fade-div 2s;

    	h3 {
		    padding-bottom: 0.3rem;
		}

		p{
		    display: flex;
		    justify-content: space-between;			
		}

		span{
			font-family: $font-sous-titre;
		}

		.prix{
			margin-top: 1.2rem;
		}
}

// Partie bouton commander
.btn-commander{
	text-align: center;
	display: flex;
    justify-content: center;
    padding: 2rem 0rem 1rem 0rem;

	p{
		background-image: linear-gradient($colour-secondary,$colour-primary);
	    padding: 0.8rem 2.5rem;;
	    border-radius: 2rem;
	    color: white;
	    box-shadow: 0px 5px 10px 0px darken($colour-background, 25%);

	    &:hover{
			background-image: linear-gradient(lighten($colour-secondary, 7%),lighten($colour-primary, 7%));
			box-shadow: 0px 5px 10px 0px darken($colour-background, 40%)
		}
	}
}

// Responsive (min-width: 2001px)
@media #{$xtra-large}{
	 .menu{
	 	text-align: center;

	 	article{
	 		display: inline-grid;
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	span{
	 		padding-left: 1rem;
	 	}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	 }
}

// Responsive (min-width: 1501px) and (max-width: 2000px)
@media #{$high-up}{
	 .menu{
	 	text-align: center;

	 	article{
	 		display: inline-grid;
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	span{
	 		padding-left: 1rem;
	 	}

	 	.prix{
	 		margin-top: 0rem;
	 	}	 		 	
	 }
}

// Responsive (min-width: 1062px) and (max-width: 1500px)
@media #{$high-down}{
	 .menu{
	 	text-align: center;

	 	article{
	 		display: inline-grid;
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	span{
	 		padding-left: 1rem;
	 	}

	 	.prix{
	 		margin-top: 0rem;
	 	}	 	
	 }
}

// Responsive (min-width: 769px) and (max-width: 1061px)
@media #{$medium-up}{
	.menu{
		display: grid;
    	justify-content: center;
	}
	
	.div-background{
		span{
			padding: 0 0.5rem;	
		}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	}
}

// (min-width: 600px) and (max-width: 768px)
@media #{$medium-medium}{
	.menu{
		display: grid;
    	justify-content: center;
	}

	.div-background{
		span{
			padding: 0 0.5rem;	
		}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	}
}