// Body

// Partie image
main{
	img{
		width: 100%;
		height: 18rem;
		object-fit: cover;
		object-position: 0% 63%;		
	}

	.img-enchante-menu{
		img{
			width: 100%;
		    height: 18rem;
		    object-fit: cover;
		    object-position: 0% 63%;
		}
	}
}

// Partie menu
.menu{
	background-color: $colour-background;
	padding: 1.5rem 1rem 2rem 1rem;
	margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    display: grid;
    justify-content: center;

    	h1{
    		font-family: $font-titre;
    		font-size: 1.5rem;
    		margin: 0rem 1rem 2rem 0rem;
    	}

    	h2 {
		    border-bottom: 0.2rem solid $colour-tertiary;
		    width: 2.5rem;
		    text-transform: uppercase;
		    margin: 0.5rem 0 0.5rem 0;
		}

		article {
		    margin-top: 2rem;
		    animation: fade-menu 1s;
		    width: 21.3rem;
		}
}

.div-background{
	display: flex;
    padding: 0.8rem 0.5rem 0.5rem 0.7rem;
    margin: 1rem 0rem;
    flex-direction: column;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.4rem 0.8rem -0.5rem darken($colour-background, 40%);
    animation: fade-div 2s;
    overflow: hidden;

    	h3 {
		    padding-bottom: 0.3rem;
		    max-width: 85%;	
		}		

		&:active{
			.div-accompagnement{
				animation: prix-effect 1s; 
	   			margin-right: 15%;
			}

			.check-background{
				animation: background-effect 1s 0.1s;
				
			}			

			.fa-check-circle{
			    animation: check-effect 1s 0.2s;
			}

			p, h3{
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}	
		}
}

.div-accompagnement{
	display: flex;
	justify-content: space-between;

		p{
			max-width: 85%;			
		}

		span{
			font-family: $font-sous-titre;
		}	
}

.check-background{
	background-color: #99E2D0;
	display: none;
	justify-content: flex-end;
	// margin: -0.8rem 0rem -0.5rem 17.65rem;
	// border-radius: 0 0.8rem 0.8rem 0;
	// padding: 1.5rem 1rem 1.48rem 1rem;
	// position: absolute;
	margin: -4rem 0rem -1rem 17.5rem;
    padding: 2rem 2rem 2rem 0rem;
    position: relative;
    width: 4rem;

		.fa-check-circle{
			position: relative;
			color: white;
		}
}

// Responsive (min-width: 2001px)
@media #{$xtra-large}{
	 .menu{
	 	display: block;
	 	text-align: center;
	 	height: 47rem;

	 	article{
	 		display: inline-grid;
	 		width: 31rem;
	 		margin: 0 6rem;
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	span{
	 		padding-left: 1rem;
	 	}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	 }

	 .check-background{
	 	margin: -4rem 0rem -1rem 27rem;
	 }
}

// Responsive (min-width: 1501px) and (max-width: 2000px)
@media #{$high-up}{
	 .menu{
	 	display: block;
	 	text-align: center;

	 	article{
	 		display: inline-grid;
	 		width: 24rem;
    		margin: 0 3rem
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	.prix{
	 		margin-top: 0rem;
	 	}	 		 	
	 }

	 .check-background{
	 	margin: -4rem 0rem -1rem 20.2rem;
	 }
}

// Responsive (min-width: 1062px) and (max-width: 1500px)
@media #{$high-down}{
	 .menu{
	 	display: block;
	 	text-align: center;

	 	article{
	 		display: inline-grid;
		    width: 24rem;
		    margin: 0 3rem;
	 	}
	 }

	 .div-background{
	 	text-align: left;

	 	span{
	 		padding-left: 1rem;
	 	}

	 	.prix{
	 		margin-top: 0rem;
	 	}	 	
	 }

	 .check-background{
	 	margin: -4rem 0rem -1rem 20.3rem;
	 }

	 .check-background-deux{
	 	margin-left: 18.7rem;
	 }
}

// Responsive (min-width: 769px) and (max-width: 1061px)
@media #{$medium-up}{
	.div-background{
		span{
			padding: 0 0.5rem;	
		}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	}

	.menu{
		article{
			width: 22.3rem;
		}
	}

	.check-background{
		margin: -4rem 0rem -1rem 18.5rem;
	}
}

// Responsive (min-width: 600px) and (max-width: 768px)
@media #{$medium-medium}{
	.div-background{
		span{
			padding: 0 0.5rem;	
		}

	 	.prix{
	 		margin-top: 0rem;
	 	}
	}

	.menu{
		article{
			width: 22.3rem;
		}
	}

	.check-background{
		margin: -4rem 0rem -1rem 18.5rem;
	}
}

// Responsive (min-width: 425px) and (max-width: 599px)
@media #{$medium-down}{
	.menu{
		article{
			width: 21.3rem;
		}
	}
}

// Responsive (max-width: 353px)
@media #{$small-down}{
	.menu{
		display: block;

		article{
			width: auto;
		}
	}

	.check-background{
		margin: -23% 0 -7% 86%;
	}
}

